@import url('https://fonts.cdnfonts.com/css/ancient');
*{
    margin: 0px;
    padding: 0px;
    /* scroll-behavior: smooth; */
    background-color: #141010;
    font-family: 'Ancient', sans-serif;
}
.redirect{
    /* width: 100vw;
    height: 100vh; */
    position: relative;
    top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redirect a{
    display: inline-block;
    width: 130px;
    text-align: center;
    text-decoration: none;
    border: solid 3px #83580b;
    border-radius: 10px;
    background-color: #d9b650;
    color: black;
    font-size: 25px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.content{
    text-align: center;
    color: bisque;
    letter-spacing: 1px;
    font-size: 20px;
    position: relative;
    top: 370px;
    width: 500px;
    margin: 8.5px auto;
}
.content p:before{
    content: "";
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #141010 5%, #141010 100%);
    animation: animate 5s linear forwards;
}
@keyframes animate {
    0% {
        left: -20%;
    }
    50% {
        left: 120%;
    }
    100% {
        left: -20%;
    }
}